<body class="app">
  <!-- <header class="app-header navbar"></header> -->
  <div class="app-body">
    <main class="main">

      <!-- main content start here -->
      <article>

        <!-- Section 1 -->
        <section class="section background-white">
          <div class="line text-center">
            <!--<i class="icon-sli-heart text-primary text-size-40"></i>-->
            <h2 class="text-dark text-size-50 text-m-size-40">Who <b>We Are?</b></h2>
            <hr class="break background-primary break-small break-center margin-bottom-50">
          </div>
          <div class="line">
            <div class="margin2x">
              <div class="m-12 l-6 margin-m-bottom-30">
                <img src="img/img-01.jpg" alt="">
              </div>
              <div class="m-12 l-6">
                <h3 class="animated-element text-strong text-size-20 text-line-height-1 margin-bottom-20">What We Do for
                  You?
                </h3>
                <p class="animated-element slow margin-bottom-30">Hendrerit in vulputate duis autem vel eum iriure dolor
                  in
                  velit esse molestie consequat, illum nulla facilisis.
                  Lorem ipsum dolor sit amet, vix purto suscipiantur conclusionemque eu, purto omittam accusata usu et,
                  latine
                  omittam expetendis no mei. Vim ei nihil exerci populo. Stet perpetua ius et.
                  Vulputate duis autem vel eum iriure dolor in velit esse molestie consequat, illum nulla facilisis.
                </p>

                <h3 class="animated-element text-strong text-size-20 text-line-height-1 margin-bottom-20">Latine omittam
                  expetendis no mei</h3>
                <p class="animated-element slow margin-bottom-30">Hendrerit in vulputate duis autem vel eum iriure dolor
                  in
                  velit esse molestie consequat, illum nulla facilisis.
                  Lorem ipsum dolor sit amet, vix purto suscipiantur conclusionemque eu, purto omittam accusata usu et,
                  latine
                  omittam expetendis no mei. Vim ei nihil exerci populo. Stet perpetua ius et.
                  Vulputate duis autem vel eum iriure dolor in velit esse molestie consequat, illum nulla facilisis.
                </p>
              </div>
            </div>
          </div>
        </section>
      </article>


      <!-- main content end here -->

    </main>
  </div>
  <footer class="app-footer">
    <!-- Footer content here -->
    <h3>@ 2019 Ever Safe Packer and Mover | All Right Reserved</h3>
  </footer>
</body>