<!-- Main Start -->

<main role="main">

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Abdullah M.Al-Sayari Est.</h1>
        <p class="lead">We provide multiple types of vehicles for transporting purpose.</p>
        <!-- <p><a class="btn btn-lg btn-success" role="button">Get started today</a></p> -->
    </div>
    <!-- Example row of columns -->


    <h2 >WELCOME!</h2>
    Hiiii
    <div class="row">
        <div class="col-lg-4">
            <h2>Head Office</h2>
            Adderss: Al Ahsa-Qatar Road Kingdom of Saudi Arabia <br>
            Email:  contactus@askartransport.com, arshad@askartransport.com,
                    zulkar@askartransport.com, abdullah@askartransport.com<br>
            Tel No: 123-456-7890<br>
            Fax: 123-456-7890
        </div>

        <div class="col-lg-8">
            <h2>Employment</h2>
            <p class="padding">
                To apply for a job with Askar Transport, please send your C.V. to: contactus@askertransport.com
            </p>
        </div>
    </div>
</main>
<div class="padding"></div>

<!-- Site footer -->
<footer class="footer">
    <p class="footer">&copy; Askar Transport 2018</p>
</footer>
<!-- main end -->