.paragraph {
    text-align: left;
}
.align{
    padding-left: 40%;
}
.welcome{

    background-color: #90EE90;width: fit-content;
}
.jumbotron {
    
    color: white;
    border-radius: 6px;
    height: 400px;
    /* padding-right: 60px;
    padding-left: 60px;
    padding-top: 64px;
    */
    /* overflow: hidden;*/
    position:  inherit; 
    /* overflow-x: scroll; */
    /* position: relative; */
    background-size: cover;
    display: block; 
    background-image: url('/assets/images/truck53.gif');
}
