<!-- Main Start -->

<main role="main">

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Abdullah M.Al-Sayari Est.</h1>
        <p class="lead">We provide multiple types of vehicles for transporting purpose.</p>
        <!-- <p><a class="btn btn-lg btn-success" role="button">Get started today</a></p> -->
    </div>
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <h2>Heading</h2>
            <img class="image" src="../../assets/images/1.jpg" alt="" title="">            
        </div>
        <div class="col-lg-4">
            <h2>Heading</h2>
            <img  class="image" src="../../assets/images/2.jpg" alt="" title="">            
        </div>
        <div class="col-lg-4">
            <h2>Heading</h2>
            <img class="image" src="../../assets/images/3.jpg" alt="" title="">            
        </div>
        
        
    </div>
    <div class="row">
            <div class="col-lg-4">
                <h2>Heading</h2>
                <img class="image" src="../../assets/images/4.jfif" alt="" title="">            
            </div>
            <div class="col-lg-4">
                <h2>Heading</h2>
                <img  class="image" src="../../assets/images/google-truck.jpg" alt="" title="">            
            </div>
            <div class="col-lg-4">
                <h2>Heading</h2>
                <img class="image" src="../../assets/images/images.jfif" alt="" title="">            
            </div>
            
            
        </div>

</main>
<div class="padding"></div>
<!-- Site footer -->
<footer class="footer">
    <p>&copy; Askar Transport  2018</p>
</footer>

<!-- main end -->