.paragraph {
    text-align: left;
}
#primary{
    font-weight: bold;
}
.image{
    height: 400px;
    width: 490px;
    padding: 1px;
    margin: -10px;
}
.footer{
    margin-top: 20px; 
}
.lead{
    color: white;
    padding: 40px;
    font-size: 30px;
    font-weight: bold;
}
.jumbotron {
    
    color: black;
    border-radius: 6px;
    height: 400px;
    /* height: 400px; */
    /* width: 400px; */
    /* padding-right: 60px;
    padding-left: 60px;
    padding-top: 64px;
    */
    /* overflow: hidden;*/
    position:  inherit; 
    /* overflow-x: scroll; */
    /* position: relative; */
    background-size: cover;
    display: block; 
    margin-left: auto;
    background-image: url('/assets/images/home.jpg');
}