<body class="app">
  <!-- <header class="app-header navbar"></header> -->
  <div class="app-body">
    <main class="main">
      <!-- Main content start here -->

      <div class="container">
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-12">
            <div class="card mb-3  table-size">
              <div class="card-body table-responsive">
                <div *ngIf="!showTable" class="d-flex justify-content-center">
                  No payment Record Found
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main content end here -->

    </main>
  </div>
  <!-- Footer content here -->
  <footer class="app-footer">
    <h3>@ 2019 My Company | All Right Reserved</h3>
  </footer>
</body>