<body class="app">
  <!-- <header class="app-header navbar"></header> -->
  <div class="app-body">
    <main class="main">
      <!-- main content start here -->

      <div class="container">
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-12">
            <div class="card mb-3  table-size">
              <!-- <div class="card-header">
                      {{getHeaderText()}}
                    </div> -->
              <div class="card-body table-responsive">

                <div *ngIf="!showTable" class="d-flex justify-content-center">
                  No payment Record Found
                </div>
              </div>
            </div>
          </div>




        </div>
      </div>
      <!-- main content end here -->


    </main>
  </div>
  <footer class="app-footer">
    <!-- Footer content here -->
    <h3>@ 2019 Ever Safe Packer and Mover | All Right Reserved</h3>
  </footer>
</body>