.paragraph {
  text-align: left;
}
.align {
  padding-left: 40%;
}
.welcome {
  background-color: #90ee90;
  width: fit-content;
}

.found {
  padding-top: 150px;
  margin: 5px;
  /* width: 230px; */
  text-align: center;
  color: green;
  font-size: 30px;
  font-weight: bold;
  margin-left: 50px;
}
.app {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 88vh;
}